{% extends "shared.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="poster-container">
{% if view.movies %}
{% for movie in view.movies %}
    <div class="poster">
        <img class="poster-img" src="{{movie['poster']}}"/>
        <div class="poster-hover">
            <div class="poster-info-bar">
                <div class="poster-title">
                    <a href="{{url_for("movie", id=movie['imdbid'])}}">{{movie['title']}}</a>
                </div>
                <div class="poster-btn right">
                    <a href="{{url_for("add", id=movie['imdbid'])}}" class="poster-btn poster-add-btn btn square">
                        <img src="{{url_for("static", filename="add.png")}}"/>
                    </a>
                    <li class="dropdown poster-btn poster-add-btn">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle poster-btn btn square poster-add-btn">
                            <img class="poster-add-dropdown-img" src="{{url_for("static", filename="add_more.png")}}"/>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-poster-add square">
                            {% for queue in view.queues %}
                            <li><a class="square" href="{{url_for("add", id=movie['imdbid'], queue=queue[0])}}">{{queue[0]}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </div>
             </div>
        </div>
    </div>
{% endfor %}
{% endif %}
</div>
{% endblock %}
