{% extends "shared.html" %}
{% block title %}{{view.movies[0]['title']}} - Grizzled Loner{% endblock %}
{% block content %}
<div class="info-container">
    <div class="poster-container">
        <div class="poster poster-full">
            <img class="poster-img" src="{{view.movies[0]['poster']}}"/>
            <div class="poster-hover">
                <div class="poster-info-bar">
                    <div class="poster-btn right">
                        <a href="{{url_for("add", id=view.movies[0]['imdbid'])}}" class="poster-btn poster-add-btn btn square">
                            <img src="{{url_for("static", filename="add.png")}}"/>
                        </a>
                        <li class="dropdown poster-btn poster-add-btn">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle poster-btn btn square poster-add-btn">
                                <img class="poster-add-dropdown-img" src="{{url_for("static", filename="add_more.png")}}"/>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-poster-add square">
                                {% for queue in view.queues %}
                                <li><a class="square" href="{{url_for("add", id=view.movies[0]['imdbid'], queue=queue[0])}}">{{queue[0]}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="movie-title">{{view.movies[0]['title']}}</div>
        <div class="movie-director">{{view.movies[0]['director']}}</div>
        <div class="movie-plot">{{view.movies[0]['plot']}}</div>
        <div class="movie-actors">{{view.movies[0]['actors']}}</div>
        <div class="movie-plot">{{view.movies[0]['runtime']}}</div>
    </div>
</div>
{% endblock %}
